@import "tailwindcss";

@theme {
  --color-background: #090E17;
  --color-primary: #3B82F6;
  --color-card: #111827;
  --font-sans: Inter, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: white;
    font-family: var(--font-sans);
  }
}
